@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;0,900;1,900&family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;0,900;1,900&family=Open+Sans&family=Poppins:wght@400;600&display=swap');
body {
     height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: hsl(257, 40%, 49%);
    background-attachment: fixed;
    font-family: "Poppins";
    position: absolute;
    background-size: cover;
}
nav img {
    margin: 1em 20em;
    width: 60em;
    height: 40em;
    margin-bottom: 0;

}
    
main {
    display: flex;
    margin: 0 6em;
    justify-content: space-between;
}
img {
    width: 160em;
    height: 95em;
    margin-left: 15em;
    margin-bottom: 2em;
}
.aside {
    float: right; 
    color: #fff;
    margin-right: 32em;
    margin-left: auto;
}
.aside h3 {
    margin-bottom: 1em;
    justify-content: space-between;
    line-height: 1.5em;
    font-size: 8em;;
}
.aside p {
    line-height: 1.5em;
    font-size: 2.8em;
}
button {
    font-size: 30px;
    padding: 25px 15px;
    width: 25%;
    border: 0 solid #fff;
    border-radius: 35px ;
    box-shadow: 2px 4px 6px rgb(82, 77, 77);
    box-shadow: ;
}
button :active {
    background: blueviolet;
    border-color: blueviolet;
    padding: 25px 110px 25px 130px;
    justify-content: center;

}
button a {
    text-decoration: none;
}
footer {
    display: flex;
    align-items: center;
    float: right;
    margin-left: 10em; 
    margin-right: 14em;
    
}
.f img {
    color: #fff;
    width:6em;
    height: 6em;
}
.t img {
    width: 8em;
    height: 8em;
    margin-left: 2em;

} 
.i img {
    width: 5.5em;
    height: 5.5em;
    margin-left: 2em;

}
@media only screen and ( min-width:375px){
    body {
        width: 50%;
    }

nav img {
    margin-top: 2px;
    width: 15em;
    height: 10em;
    margin-bottom: 2px;
    margin-left: 5em;
    font-size: 3em;
    
}

main {
    display: grid;
}

img {
    width: 110em;
    height: 48em;
    margin-left: 12em;
    margin-right: 15em;
    margin-bottom: 2px;
    
} 

.aside {
    margin-top: 5px;

    
}
.aside h3 {
    text-align: center;
    margin-left: 2em;
    font-size:7em;
    margin-bottom:2px ;
    font-family: "Poppins";
    font-weight: 600;
    text-justify: center;

    word-spacing: 4px;
    letter-spacing: 8px;
    
    
}

.aside p {
    margin-top: 1px;
    line-height: 1.2em;
    margin-left: 2em;
    font-size: 4.5em;
    font-family: "open sans";
    text-align: center;
    text-anchor: 2px;

}
button {
    font-size: 232x;
    padding: 50px 29px;
    width: 40%;
    border-radius: 50px;
    float: right;
    margin-right:14em ;

}


footer {

    float: right;
    margin-left:   10mm;
    margin-right: 10em;


}

.f img {
    margin-right: 12px;
}

.t img {
    
}
.i img {
     margin-left: 

    }
}